
h1{
	margin: 0;
 padding: 0;
 background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
 height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

h3{
	margin: 0;
 padding: 0;
 background: linear-gradient(to bottom right, #FBD6CE, #FAFCFF);
 height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

p{
	margin:  0;
 	padding: 0;
 	height: 40vh;
 display: flex;
	justify-content: center;
 	align-items: center;
 	border-style: solid;
  color: white;
  padding-left: auto;
  padding-right: auto;
}

